footer(class="library-footer")
  div(class="library-footer__main-footer")
    div(class="container")
      div(class="row")
        div(class="col-md-4 contact-info")
          div(class="title")
            p Georgetown University in Qatar Library
          div(class="address mail")
            p Education City | P.O. Box 23689, Doha, Qatar
          div(class="address phone")
            p Phone: +974-4457-8280
          div(class="address email")
            p Email: guqlibrary@georgetown.edu
        div(class="col-md-4")
          div(class="social-media")
            div(class="social-media-links")
              p Follow us on:
              a(href="https://facebook.com/GUQatar")
                i(class="fab fa-facebook-square")
              a(href="https://twitter.com/GUQatar")
                i(class="fab fa-twitter-square")
              a(href="https://instagram.com/GUQatar")
                i(class="fab fa-instagram")
              a(href="https://youtube.com/GUQatar")
                i(class="fab fa-youtube-square")
              a(href="https://linkedin.com/groups/4506300")
                i(class="fab fa-linkedin")
            div(class="social-media-links")
              p Accessibility:
              a(href="https://www.qatar.georgetown.edu/accessibility")
                  i(class="fab fa-accessible-icon")
        div(class="col-md-4")
          div(class="footer-logo")
            a(href="https://www.georgetown.edu/")
              img(src="/images/guq-footer-logo.png")

  div(class="library-footer__sub-footer")
    div(class="container")
      div(class="row d-flex justify-content-center")
        div(class="link")
          a(href="https://www.qatar.georgetown.edu/about/contact-us") Contact Us
        div(class="link")
          a(href="https://www.library.georgetown.edu/") Main Campus Library
        div(class="link")
          a(href="https://www.qatar.georgetown.edu/news-events/permissions-requests") Media & Press
        div(class="link")
          a(href="https://www.georgetown.edu/copyright-information") Copyright
        div(class="link")
          a(href="https://www.georgetown.edu/privacy-policy") Privacy Policy