footer
  div(class="container")
    div(class="row")
      div(class="col")
        //- p footer

  // scripts
  script(src="scripts/main.js")

  script(src="scripts/jquery.js")
  script(src="scripts/popper.js")
  script(src="scripts/bootstrap.js")