footer
  div(class="container")
    div(class="row")
      div(class="col")
        //- p footer

  // vendor scripts
  script(src="scripts/jquery.js")
  script(src="scripts/bootstrap.js")
  
  // custom scripts
  script(src="scripts/main.js")