footer(class="library-footer")
  div(class="library-footer__main-footer")
    div(class="container")
      div(class="row")
        p main footer
  div(class="library-footer__sub-footer")
    div(class="container")
      div(class="row d-flex justify-content-center")
        div(class="link")
          a(href="#") Contact Us
        div(class="link")
          a(href="#") Main Campus Library
        div(class="link")
          a(href="#") Media & Press
        div(class="link")
          a(href="#") Copyright
        div(class="link")
          a(href="#") Privacy Policy