header(class="library-header")
  div(class="container")
    div(class="row d-flex justify-content-between")
      div(class="col-md-6 col-sm-12 library-header__logo")
        a(href="/")
          img(src="/images/guq-library-logo-2x.png")
      div(class="col-md-6 col-sm-12 d-flex justify-content-end library-header__links") 
        a(href="https://qatar.sfs.georgetown.edu/" target="_blank") GU-Q Home
        a(href="https://qatar.library.georgetown.edu/ask") Ask Us
        a(href="https://wrlc-gu.primo.exlibrisgroup.com/discovery/search?vid=01WRLC_GUNIV:QATAR&mode=advanced" target="_blank") My Account

