div(class="library-navigation")
  div(class="container")
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      a(class="navbar-brand bg-primary" href="#")
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav justify-content-around")
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Research
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books & Media
                      li(class="nav-item")
                        a(class="nav-link" href="#") Databases
                      li(class="nav-item")
                        a(class="nav-link" href="#") Print Journals & Newspapers
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Main Campus Library
                      li(class="nav-item")
                        a(class="nav-link" href="#") Other Libraries
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Google Scholar
                      li(class="nav-item")
                        a(class="nav-link" href="#") Citing
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Personal Librarian
                      li(class="nav-item")
                        a(class="nav-link" href="#") Student Research Guide
                      li(class="nav-item")
                        a(class="nav-link" href="#") Digital Georgetown
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Guides
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Course Guides
                      li(class="nav-item")
                        a(class="nav-link" href="#") General Guides
                      li(class="nav-item")
                        a(class="nav-link" href="#") Faculty Guide
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Technology Tools
                      li(class="nav-item")
                        a(class="nav-link" href="#") First Year Student Guide
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Services & Events
                      li(class="nav-item")
                        a(class="nav-link" href="#") Citing
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Writing
                      li(class="nav-item")
                        a(class="nav-link" href="#") Presenting
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Services
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Borrowing
                      li(class="nav-item")
                        a(class="nav-link" href="#") Renewing
                      li(class="nav-item")
                        a(class="nav-link" href="#") Interlibrary Loans
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Course Reserves
                      li(class="nav-item")
                        a(class="nav-link" href="#") Instruction
                      li(class="nav-item")
                        a(class="nav-link" href="#") Consultations
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Reserve a Room
                      li(class="nav-item")
                        a(class="nav-link" href="#") Study Spaces
                      li(class="nav-item")
                        a(class="nav-link" href="#") Assistive Technology
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Equipment & Software
                      li(class="nav-item")
                        a(class="nav-link" href="#") Online Learning
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Faculty Support
                      li(class="nav-item")
                        a(class="nav-link" href="#") Scholarly Communication
                      li(class="nav-item")
                        a(class="nav-link" href="#") Purchase Request Form
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Forms
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Purchase Request Form
                      li(class="nav-item")
                        a(class="nav-link" href="#") Alumni Borrower Form
                      li(class="nav-item")
                        a(class="nav-link" href="#") Reserve a Room Form
                      li(class="nav-item")
                        a(class="nav-link" href="#") Illiad
                  div(class="col-md-9")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Ask Us
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") About Us
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Our Mission
                      li(class="nav-item")
                        a(class="nav-link" href="#") Collection & Policies
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Library Tour
                      li(class="nav-item")
                        a(class="nav-link" href="#") Staff
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Hours
                      li(class="nav-item")
                        a(class="nav-link" href="#") Directions
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Personal Librarians
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Ask Us