div(class="library-navigation")
  div(class="container")
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      a(class="navbar-brand bg-primary" href="#")
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav justify-content-around")
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Research
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Guides
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Student Guide
                      li(class="nav-item")
                        a(class="nav-link" href="#") Faculty
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Services
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Student Guide
                      li(class="nav-item")
                        a(class="nav-link" href="#") Faculty
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Forms
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Student Guide
                      li(class="nav-item")
                        a(class="nav-link" href="#") Faculty
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") About Us
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Student Guide
                      li(class="nav-item")
                        a(class="nav-link" href="#") Faculty
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media
                  div(class="col-md-4")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="#") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="#") Books
                      li(class="nav-item")
                        a(class="nav-link" href="#") Media