div(class="library-navigation")
  div(class="container")
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      a(class="navbar-brand bg-primary" href="#")
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav justify-content-around")
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Research
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://wrlc-gu.primo.exlibrisgroup.com/discovery/search?vid=01WRLC_GUNIV:QATAR&lang=en&sortby=rank") Articles
                      li(class="nav-item")
                        a(class="nav-link" href="https://wrlc-gu.primo.exlibrisgroup.com/discovery/search?vid=01WRLC_GUNIV:QATAR&lang=en&sortby=rank") Books & Media
                      li(class="nav-item")
                        a(class="nav-link" href="http://guides.sfsq.georgetown.edu/az.php?a=all") Databases
                      li(class="nav-item")
                        a(class="nav-link" href="/print-journals-and-newspapers") Print Journals & Newspapers
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://www.library.georgetown.edu/") Main Campus Library
                      li(class="nav-item")
                        a(class="nav-link" href="/other-libraries") Other Libraries
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://scholar.google.com/") Google Scholar
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/home/citing") Citing
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="personal-librarians") Personal Librarian
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/studentresearch") Student Research Guide
                      li(class="nav-item")
                        a(class="nav-link" href="https://www.library.georgetown.edu/digitalgeorgetown") Digital Georgetown
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Guides
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/home") Course Guides
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/home/general") General Guides
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/faculty") Faculty Guide
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/home/software") Technology Tools
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/freshman") First Year Student Guide
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/home/student") Services & Events
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/home/citing") Citing
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/freshman/writingcenter") Writing
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/presentation") Presenting
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Services
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="/borrowing") Borrowing
                      li(class="nav-item")
                        a(class="nav-link" href="https://wrlc-gu.primo.exlibrisgroup.com/primaws/suprimaExtLogin?institution=01WRLC_GUNIV&lang=undefined&target-url=https%3A%2F%2Fwrlc-gu.primo.exlibrisgroup.com%2Fdiscovery%2Fsearch%3Fvid%3D01WRLC_GUNIV%3AQATAR&authenticationProfile=SAML&idpCode=SAML&auth=SAML&view=01WRLC_GUNIV%3AQATAR&isSilent=false") Renewing
                      li(class="nav-item")
                        a(class="nav-link" href="/interlibrary-loans") Interlibrary Loans
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="/course-reserves") Course Reserves
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/faculty/instruction") Instruction
                      li(class="nav-item")
                        a(class="nav-link" href="/consultations") Consultations
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://libcal.sfsq.georgetown.edu/reserve/group") Reserve a Room
                      li(class="nav-item")
                        a(class="nav-link" href="/study-spaces") Study Spaces
                      li(class="nav-item")
                        a(class="nav-link" href="/assistive-technology") Assistive Technology
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="/equipment-and-software") Equipment and Software
                      li(class="nav-item")
                        a(class="nav-link" href="/online-learning") Online Learning
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://guides.qatar.georgetown.edu/faculty") Faculty Support
                      li(class="nav-item")
                        a(class="nav-link" href="scholarly-communication") Scholarly Communication
                      li(class="nav-item")
                        a(class="nav-link" href="http://analytics.sfsq.georgetown.edu/tw.php?i=910&d=1147&w=2318") Purchase Request Form
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Forms
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="http://analytics.sfsq.georgetown.edu/tw.php?i=910&d=1147&w=2318") Purchase Request Form
                      li(class="nav-item")
                        a(class="nav-link" href="/alumni-borrower-form") Alumni Borrower Form
                      li(class="nav-item")
                        a(class="nav-link" href="https://libcal.sfsq.georgetown.edu/reserve/group") Reserve a Room Form
                      li(class="nav-item")
                        a(class="nav-link" href="https://illiad.library.georgetown.edu/illiad/") Illiad
                  div(class="col-md-9")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="/ask-us") Ask Us
          li(class="nav-item dropdown")
            a(class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") About Us
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              div(class="container")
                div(class="row")
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="/our-mission") Our Mission
                      li(class="nav-item")
                        a(class="nav-link" href="/collections-and-policies") Collection and Policies
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="https://youtu.be/U6XbTa6mnK0") Library Tour
                      li(class="nav-item")
                        a(class="nav-link" href="/staff") Staff
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="/hours") Hours
                      li(class="nav-item")
                        a(class="nav-link" href="/directions") Directions
                  div(class="col-md-3")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="/personal-librarians") Personal Librarians
                  div(class="col-md-2")
                    ul(class="nav flex-column")
                      li(class="nav-item")
                        a(class="nav-link" href="/ask-us") Ask Us