- var navResearch = {'Articles':'article.html', 'Books & Media':'books.html', 'Databases':'databases.html', 'Consultations':'consult.html'}
- var navGuides = {'Student Guide':'student.html', 'Faculty Guide':'faculty.html', "Technology": "technology.html"}
- var navAboutUs = {'Our Mission': 'our-mission.html', 'Collections and Policies': 'collections-and-policies.html', 'Library Tour': 'https://youtu.be/U6XbTa6mnK0', 'Staff': 'staff.html', 'Hours': 'hours.html', 'Directions': 'directions.html', 'Personal Librarians': 'personal-librarians.html', 'Ask Us': 'ask-us.html'}