- var navResearch = {'Articles':'article.html', 'Books & Media':'books.html', 'Databases':'databases.html', 'Consultations':'consult.html'}
- var navGuides = {'Student Guide':'student.html', 'Faculty Guide':'faculty.html', "Technology": "technology.html"}