extends layouts/default.pug

block content
  +page-header('About Us', 'parent')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav mb-3")        
        +side-nav('About Us', navAboutUs)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 About Us

        +image("/images/featured-about-us-2x.jpg", "About the Library", "About the Library", "full")

        P The Georgetown University in Qatar (GU-Q) Library is proud to support university learning and research. Our library advances and supports the learning, teaching, and research goals of students and faculty at Georgetown.