extends layouts/default.pug

block content
  +page-header('Alumni', 'parent')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Alumni', navPopulations)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Alumni

        h5 Library Services for Alumni
        p To support lifelong learning Georgetown University offers its graduates continued library membership through the 
          a(href="alumni-borrower-form") Alumni Borrower Card
          |.

        ul
          li Qatar based GU Alumni can borrow a total of 5 items. Access is not provided to main campus materials.
          li Alumni memberships can be obtained by completing the Alumni Application Form and providing a QR200 refundable deposit.
          li Remote access to a selected number subscription databases is available to alumni using their NetID and password. Click here for additional information.

        h6 Books, Periodicals, and DVDs
          p(class="float-right h6") 
            a(href="fines-and-fees" class="font-italic") Fines and Fees may apply
        table(class="table table-bordered table-hover quarter-equal")
          thead(class="bg-primary text-light")
            tr
              th(scope="col") Item
              th(scope="col") Loan Period
              th(scope="col") Max # of Items
              th(scope="col") Max # of Renewals
          tbody
            tr
              td Books
              td 4 Weeks
              td Unlimited
              td 3
            tr
              td DVDs/Videos
              td 7 Days
              td Unlimited
              td None
            tr
              td Periodicals
              td 7 Days
              td Unlimited
              td None