extends layouts/default.pug

block content
  +page-header('Alumni Borrower Form', 'Forms')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Alumni Borrower Form', navForms)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Alumni Borrower Form

        iframe(src="https://sfsq.libinsight.com/add.php?wid=18&type=3&token=5c3c099d007f4574d5307b1f5017eb2d" width="800" height="480" frameborder="0")

        h4(class="ml-4") STEP 2: Please email a passport-sized photo to be used for your card as an attachment
        p(class="ml-4") Send your email to this email address: 
          span(class="text-secondary-light-blue font-weight-bold") Alumni_.7dal7tae1ryhvtao@u.box.com 
          | to complete this step.