extends layouts/default.pug

block content
  +page-header('Ask Us', 'About Us')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Ask Us', navAboutUs)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Ask Us

        iframe(src="https://sfsq.libinsight.com/add.php?wid=3&type=3&token=f31020368e9bc19fae58d474dcdb5bab" width="800" height="500" frameborder="0")

        h4(class="ml-4") Contact Information
        h5(class="ml-5 mb-n3")
          i(class="far fa-envelope text-secondary-dark-blue") 
          | Email: 
          a(href="mailto:guqlibrary@georgetown.edu") guqlibrary@georgetown.edu
        h5(class="ml-5 mb-n3")
          i(class="fas fa-phone text-secondary-dark-blue") 
          | Phone: +974-4457-8280
        h5(class="ml-5 mb-4") 
          i(class="fas fa-map-marker-alt text-secondary-dark-blue")
          | Location: 
          a(href="https://www.qatar.georgetown.edu/about/contact-us") Directions to Georgetown University in Qatar