extends layouts/default.pug

block content
  +page-header('Policies', 'About Us')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Policies', navAboutUs)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Code of Conduct Policy

        h5 Introduction
        p Georgetown University Library in Qatar welcomes all students, faculty and staff and is dedicated to providing free and equal access to information, knowledge sharing, independent learning opportunities and the pursuit of the joy of reading. Citizens, residents and visitors to Qatar are also welcome to use library spaces and utilize library resources on site.With public service as the highest priority, the Library has established rules and regulations to govern the use of the building and its materials and services. Individuals visiting or using the Library's facilities or services must comply with the Code of Conduct below.

        ol(class="ml-n4")
          li 
            strong Purpose
          p The purpose of this policy is to maintain a welcoming library environment conducive to study and research; protect the health and safety of patrons; and safeguard the materials, equipment, facilities and sanctity of the Library. Library staff reserve the right to stop or report violator(s) of the rules listed below, in accordance with the “Action and Reporting” section below.

          li 
            strong Policy
          p In order to maintain a safe and welcoming environment for reading, learning and other activities, the Library requires all patrons to comply with the following Rules and Regulations:

            ul
              li Comply with the requests and directions of Library staff. Non-compliant patrons may be referred to security staff.
              li Speak softly at all times within the Library premises.
              li Switch off or put mobile phones on silent mode when in the Library
              li Mobile phones to be used for texting only, no phone calls.
              li Headphones are required when using personal sound equipment.
              li Handle all Library materials and facilities with care. Do not rearrange books on the shelves.
              li Leave items on carts after you are finished, do not reshelve them, Library staff will reshelve them.
              li Drinks are allowed when in a container with a securely fastened lid. The following drink containers are preferable:
                ul
                  li Travel mugs with attached lids
                  li Plastic bottles with lids
              li Food (including small snacks) is to be consumed outside the Library.
              li Always make sure to safeguard your belongings.
              li Patrons must exit the building in a timely fashion when the Library begins its closing procedures.
              li Smoking or using e-cigarettes inside Library facilities is not allowed. Please use the designated smoking area outside the building.
              li No commercial photography or filming may be done without authorized permission from Georgetown University in Qatar Communications department.

          p
            strong Please also be aware that:

            ul
              li The Library is not responsible for personal items that are lost, stolen or damaged on Library premises.
              li Copyright laws prevent the copying of some items in the Library.
              li Certain study rooms and other Library spaces are reserved for Georgetown students only.
              li Patrons who do not follow the Library’s Rules and Regulations may be asked to leave.

          li 
            strong Action and Reporting

          p Library staff may take immediate action and report the incident to the Georgetown University in Qatar security staff.

          li
            strong Policy Enforcement

            ul
              li Anyone who refuses to comply with the Library rules and regulations after being given a warning will be asked by Library staff to leave.
              li Refusal to comply with the request to leave the Library will result in security staff escorting the visitor from the building and security will note names and ID numbers to report to the Library’s Director. The user's Library privileges may also be suspended.


