extends layouts/default.pug

block content
  +page-header('Collections and Policies', 'About Us')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Collections and Policies', navAboutUs)
        
      div(class="col-md-9 content-page__content")
        h4 Collections and Policies

        h5 Collections
        p Library collections are designed to fully meet the information resources needs of GU-Q students, faculty and staff and to ensure the highest quality teaching and research. The Library purchases resources directly related to the curriculum and research needs.

        p Our collections include:

        ul            
          li More than 90,000 print books in Qatar plus 1.6 million ebooks and more than 3 millions books on the Main Campus.
          li More than 180,000 academic journals in electronic format and 60 print titles of academic and general interest.

        hr

        h5 Gifts & Donations
        p The Georgetown University in Qatar (GU-Q) Library welcomes small donations of scholarly materials to enhance its collection. Only materials that fall within the guidelines of the GU-Q Library Collection Development Policy will be accepted.

        p In general the following factors are considered
        
        ul
          li Value for teaching or research
          li Relevance to existing collection
          li Physical condition
          li The currency of the edition. For most subjects only the latest edition will be accepted.
          li Duplication of existing materials (in general, duplicate titles are not accepted).
          li Copies of books written by GU-Q faculty are welcomed
        
        p All donations are accepted without obligation to the donors and on the understanding that upon receipt the material becomes the property of GU-Q Library. The library reserves the right to dispose of items not deemed suitable for the collection at any time.

        h6 How to donate
        p Small donations can be brought to the library and left with a member of the library team. We define a small donation as material ranging from 1-10 items.
        p If you are considering making a larger donation please contact Donna Hanson, and include the following details:

        ul 
          li Approximate number of items
          li A list of titles with the following:
            ul
              li subject area
              li age and condition
          li Your contact details
