extends layouts/default.pug

block content
  +page-header('Consultations', 'Services')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Consultations', navServices)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Consultations

        h5 One-on-One Research Consultations
        p Students and Faculty are welcome to make an appointment for a consultation with a librarian.
        p This service is intended for students who want personal help with their research (refining research question, developing effective search strategies, identifying relevant sources, etc.), with organization and management of citations and with using certain software available in the library (iMovies, Photoshop, etc.). Our expert staff is available 9:00 to 5:00pm to suggest strategies and resources from our collection that will address your research needs.
        p Faculty members are welcome to book time with a personal librarian to discuss an Information literacy session for a class, to develop targeted research assignments for students, to receive an overview of resources in a particular subject area, to be introduced to a new database and to get assistance with their research project.
        p Please contact your Personal Librarian to book an appointment.