extends layouts/default.pug

block content
  +page-header('Course Reserves', 'Services')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Course Reserves', navServices)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Course Reserves

        h5 Course Reserves Use Policy - For Students
        p The Georgetown University in Qatar Library provides course reserve services to ensure access to core course readings that, due to high demand, would not otherwise be available to all students in a class.

        h6 Policy:
        p Reserve items are available on a first come, first serve basis. Reserve items cannot be held, recalled, or renewed. To be considerate of other students, please return reserve readings on time.

        h6 Print Book and DVD Reserves:
        p Printed books and DVD reserves are located at the Service Desk in the Library. Reserve items are available to currently registered students and faculty members; are loaned for 4 hours and can only be used inside the Library.

        h5 Placing Books & Articles on Course Reserves - For Faculty
        p Printed Books & DVDs: You can select materials that students can borrow for 4 hours. If the library does not have the item, a copy will be ordered. Personal copies of books can also be placed on reserve. Contact your librarian for more options or to send your list of items.

        h6 Canvas Uploads:

        p Scanned part of printed book (.pdf): The library can scan a part of a printed book (up to 10% of the content or one chapter) which you can upload in Canvas. Please contact your librarian with a request.

        p Electronic resource (journal article, e-book etc): To add a link to library resources in Canvas, you will need to use a permalink. If you cannot locate it, contact your librarian for help.

        h6 Important Note:
        ul
          li Entire books cannot be scanned and placed on e-reserve. Limit requests to one chapter or 10% from each book per term. (one chapter cannot be taken down in order to post a second chapter);
          li Single articles from journal issues. If the library does not have the article, a copy will be requested