extends layouts/default.pug

block content
  +page-header('Equipment and Software', 'Services')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Equipment and Software', navServices)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Equipment and Software

        p The library provides computing services, equipment checkouts, and access to software for multiple uses.

        h5 Computer Commons
        p Internet access and word processing is available on our "green" open access computers. Georgetown faculty, staff, and students can access the "blue" computers with additional software and printing capabilities by logging in with their netID and password.
        p The library also has 10 Mac computers available in the computer commons area for Georgetown faculty, staff, and students.
        h5 Equipment
        p The library has Kindles available for checkout, which come loaded with over 250 e-book titles. The library also has USB microphones, HDMI cables, and one professional level video camera for special projects. (Please see the library staff for more information about borrowing the video camera.)
        h5 Software
        p In the computer commons, the following software can be used on the PCs - Microsoft Office (Word, Excel, PowerPoint) and Adobe Creative Suite (Photoshop, Illustrator, InDesign).
        p In the computer commons, the following software can be used on the Mac - iMovie, GarageBand, Pages, Numbers, Keynote, Microsoft Office (Word, Excel, PowerPoint) and Adobe Creative Suite (Photoshop, Illustrator, InDesign).