extends layouts/default.pug

block content
  +page-header('Faculty', 'parent')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Faculty', navPopulations)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Faculty

        div(class="container content-page__content__link-list")
          div(class="row")
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Circulation
              a(href="borrowing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Borrowing
              a(href="https://wrlc-gu.primo.exlibrisgroup.com/primaws/suprimaExtLogin?institution=01WRLC_GUNIV&lang=undefined&target-url=https%3A%2F%2Fwrlc-gu.primo.exlibrisgroup.com%2Fdiscovery%2Fsearch%3Fvid%3D01WRLC_GUNIV%3AQATAR&authenticationProfile=SAML&idpCode=SAML&auth=SAML&view=01WRLC_GUNIV%3AQATAR&isSilent=false")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Renewing
              a(href="interlibrary-loans")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Interlibrary Loans
              a(href="course-reserves")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Course Reserves
              a(href="equipment-and-software")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Equipment and Software
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Instruction
              a(href="https://guides.qatar.georgetown.edu/faculty/instruction")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Instructional Services
              a(href="http://guides.qatar.georgetown.edu/home")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Course Guides
              a(href="personal-librarians")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Personal Librarians
              a(href="consultations")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Consultations
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Research
              a(href="http://guides.qatar.georgetown.edu/faculty/research")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Research Support
              a(href="http://guides.sfsq.georgetown.edu/az.php?a=all")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Databases
              a(href="scholarly-communication")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Scholarly Communication
              a(href="https://refworks.proquest.com/")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p RefWorks
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Other Resources
              a(href="http://guides.qatar.georgetown.edu/home/writing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Writing
              a(href="http://guides.qatar.georgetown.edu/home/citing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Citing
              a(href="http://guides.qatar.georgetown.edu/home/presenting")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Presenting
              a(href="online-learning")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Online Learning
              a(href="http://analytics.sfsq.georgetown.edu/tw.php?i=910&d=1147&w=2318g")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Purchase Request Form