extends layouts/default.pug

block content
  +page-header('Forms', 'parent')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Forms', navForms)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Forms

        +image("/images/featured-forms-2x.jpg", "Forms", "Forms", "full")

        p The following forms are available.