extends layouts/default.pug

block content
  +page-header('GU-Q Staff', 'parent')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('GU-Q Staff', navPopulations)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 GU-Q Staff

        div(class="container content-page__content__link-list")
          div(class="row")
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Circulation
              a(href="borrowing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Borrowing
              a(href="renewing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Renewing
              a(href="fines-and-fees")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Fines and Fees
              a(href="interlibrary-loans")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Interlibrary Loans
              a(href="course-reserves")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Course Reserves
              a(href="equipment-and-software")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Equipment and Software
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Spaces
              a(href="study-spaces")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Study Spaces
              a(href="assistive-technology")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Assistive Technology
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Research
              a(href="http://guides.sfsq.georgetown.edu/az.php?a=all")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    P Databases
              a(href="http://guides.qatar.georgetown.edu/home/general")        
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    P General Guides
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Other Resources
              a(href="http://guides.qatar.georgetown.edu/home/writing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Writing
              a(href="http://guides.qatar.georgetown.edu/home/citing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Citing
              a(href="http://guides.qatar.georgetown.edu/home/presenting")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Presenting