extends layouts/default.pug

block content
  +page-header('Guides', 'parent')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Guides', navGuides)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Guides

        +image("/images/featured-guides-2x.jpg", "Library Guides", "Library Guides", "full")

        p The library has created online content through our library guides.