extends layouts/default.pug

block content
  div(class="container home-page")
    div(class="row")
      div(class="col-md-8")
        p search
      div(class="col-md-4")
        p quick links
    div(class="row")
      div(class="col-md-4")
        div(square)
          header Gem of the Week
          section
            a(href="#")
              img(src="/images/lynda-2x.png")
      div(class="col-md-4")
      div(class="col-md-4")
    div(class="row")
      div(class="col-md-4")
      div(class="col-md-4")
      div(class="col-md-4")