extends layouts/default.pug

block content
  div(class="container home-page")
    div(class="row")
      div(class="col-lg-8 col-md-12")
        div(class="home-page__search")
          ul(class="nav nav-tabs lib-search" id="myTab" role="tablist")
            li(class="nav-item")
              a(class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true") HoyaSearch
            li(class="nav-item")
              a(class="nav-link" id="databases-tab" data-toggle="tab" href="#databases" role="tab" aria-controls="databases" aria-selected="false") Databases
            li(class="nav-item")
              a(class="nav-link" id="journals-tab" data-toggle="tab" href="#journals" role="tab" aria-controls="journals" aria-selected="false") Journals
            li(class="nav-item")
              a(class="nav-link" id="scholar-tab" data-toggle="tab" href="#scholar" role="tab" aria-controls="scholar" aria-selected="false") Google Scholar
            li(class="nav-item")
              a(class="nav-link" id="course-tab" data-toggle="tab" href="#course" role="tab" aria-controls="course" aria-selected="false") Course Reserves
          div(class="tab-content" id="myTabContent")
            div(class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab")
              section(class="container") 
                form(id="hoyaSearchForm")
                  div(class="row no-gutters mt-3")
                    div(class="col-md-7 mr-2 mb-2")
                      label(class="sr-only" for="hoyaSearchText") Search Text
                      input(id="hoyaSearchText" type="text" class="form-control" placeholder="Search")
                    div(class="col-md-3 mr-2 mb-2")
                      label(class="sr-only" for="hoyaSearchType")
                      select(class="custom-select" id="hoyaSearchType")
                        option(value="everything") Everything
                        option(value="course-reserves") Course Reserves
                    div(class="col-md-1")
                      button(type="submit" class="btn btn-secondary-dark-blue") Search
                div(class="row tips d-flex justify-content-between")
                  a(href="#") advanced search
                  a(href="#") what am I searching?
            div(class="tab-pane fade" id="databases" role="tabpanel" aria-labelledby="databases-tab")
              section(class="container")
                form(id="databasesForm") 
                  div(class="row no-gutters mt-3")
                    div(class="col-md-10 mr-2 mb-2")
                      label(class="sr-only" for="databasesText") Search Databases
                      input(id="databasesText" type="text" class="form-control" placeholder="Search Databases")
                    div(class="col-md-1")
                      button(type="submit" class="btn btn-secondary-dark-blue") Search
                div(class="row tips d-flex justify-content-between")
                  span &nbsp;
                  a(href="#") what am I searching?
            div(class="tab-pane fade" id="journals" role="tabpanel" aria-labelledby="journals-tab")
              section(class="container")
                form(id="journalsForm") 
                  div(class="row no-gutters mt-3")
                    div(class="col-md-10 mr-2 mb-2")
                      label(class="sr-only" for="journalsText") Search Journals
                      input(id="journalsText" type="text" class="form-control" placeholder="Search Journals")
                    div(class="col-md-1")
                      button(type="submit" class="btn btn-secondary-dark-blue") Search
                div(class="row tips d-flex justify-content-between")
                  span &nbsp;
                  a(href="#") what am I searching?
            div(class="tab-pane fade" id="scholar" role="tabpanel" aria-labelledby="scholar-tab")
              section(class="container")
                form(id="googleScholarForm") 
                  div(class="row no-gutters mt-3")
                    div(class="col-md-10 mr-2 mb-2")
                      label(class="sr-only" for="googleScholarText") Search Google Scholar
                      input(id="googleScholarText" type="text" class="form-control" placeholder="Search GoogleScholar")
                    div(class="col-md-1")
                      button(type="submit" class="btn btn-secondary-dark-blue") Search
                div(class="row tips d-flex justify-content-between")
                  span &nbsp;
                  a(href="#") what am I searching?
            div(class="tab-pane fade" id="course" role="tabpanel" aria-labelledby="course-tab")
              section(class="container")
                form(id="courseReservesForm") 
                  div(class="row no-gutters mt-3")
                    div(class="col-md-10 mr-2 mb-2")
                      label(class="sr-only" for="courseReservesText") Search Course Reserves
                      input(id="courseReservesText" type="text" class="form-control" placeholder="Search Course Reserves")
                    div(class="col-md-1")
                      button(type="submit" class="btn btn-secondary-dark-blue") Search
                div(class="row tips d-flex justify-content-between")
                  span &nbsp;
                  a(href="#") what am I searching?
      div(class="col-lg-4 col-md-12")
        div(class="home-page__quick-links")
          section
            a(href="hours") 
              div(class="alert alert-light")
                i(class="far fa-clock")
                span Today's Hours:
                span(class="lib-hours") 9am - 4pm
          section
            a(href="http://libcal.sfsq.georgetown.edu/booking/gsr") 
              div(class="alert alert-light")
                i(class="far fa-calendar-times")
                | Reserve a Room
          section
            a(href="https://georgetownqatar.mywconline.com/") 
              div(class="alert alert-light") 
                i(class="far fa-calendar-check")
                | Book Writing Center Appointment
          section
            a(href="http://canvas.georgetown.edu/") 
              div(class="alert alert-light") 
                i(class="fas fa-desktop")
                | Canvas
          section
            a(href="http://www.library.georgetown.edu/") 
              div(class="alert alert-light") 
                i(class="fas fa-book")
                | Main Campus Library
          section
            a(href="interlibrary-loans") 
              div(class="alert alert-light") 
                i(class="fas fa-exchange-alt")
                | Interlibrary Loans
    div(class="row")
      div(class="col-md-4 col-sm-12")
        div(class="home-page__square")
          header Gem of the Week
          section
            a(href="#")
              img(src="/images/lynda-2x.png" class="img-fluid")
      div(class="col-md-4 col-sm-12")
        div(class="home-page__square")
          header Undergraduates
          section
            a(href="undergraduates")
              img(src="/images/undergraduates.jpg" class="img-fluid")
      div(class="col-md-4 col-sm-12")
        div(class="home-page__square")
          header Faculty
          section
            a(href="faculty")
              img(src="/images/faculty.jpg" class="img-fluid")
    div(class="row")
      div(class="col-md-4 col-sm-12")
        div(class="home-page__square")
          header Staff
          section
            a(href="gu-q-staff")
              img(src="/images/staff.jpg" class="img-fluid")
      div(class="col-md-4 col-sm-12")
        div(class="home-page__square")
          header Alumni
          section
            a(href="alumni")
              img(src="/images/alumni.jpg" class="img-fluid")
      div(class="col-md-4 col-sm-12")
        div(class="home-page__square")
          header Visitors
          section
            a(href="visitors")
              img(src="/images/visitors.jpg" class="img-fluid")