extends layouts/default.pug

block content
  +page-header('Interlibrary Loans', 'Services')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Interlibrary Loans', navServices)

      div(class="col-md-6 col-sm-12 content-page__content")
        h4 Interlibrary Loans

        h5 Overview
        p As a researcher at Georgetown University's Qatar campus, you have full access to both the print and online resources of the library in Washington D.C. Books may be requested for dispatch to Qatar.

        p Other scholarly resources not available from GU library services can be requested for electronic delivery using the 
          a(href="http://illiad.library.georgetown.edu/illiad/") ILLiad service
          | .

        ul(class="nav nav-tabs" id="myTab" role="tablist")
          li(class="nav-item")
            a(class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true") Articles
          li(class="nav-item")
            a(class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false") Book Chapters
          li(class="nav-item")
            a(class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false") Books
          li(class="nav-item")
            a(class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false") FAQs

        div(class="tab-content" id="myTabContent")
          div(class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab")
            h5 Articles
            p Step 1: Use HoyaSearch for Articles

            ul
              li Begin with 
                a(href="https://wrlc-gu.primo.exlibrisgroup.com/discovery/search?vid=01WRLC_GUNIV:QATAR&mode=advanced&sortby=rank") HoyaSearch 
                | to determine if the GU-Q library has the article you want. Search by title, author, or keyword.
            p Step 2: Use Qatar National Library

            ul
              li Thousands of articles are available from the 
                a(href="https://qnl.qa/en") QNL Library
                |. To use QNL resources from home, you must become a 
                a(href="https://library.qnl.qa/selfreg") registered user 
                |first.
            p Step 3: Request an Article using Illiad

            ul
              li Place a request through the 
                a(href="http://illiad.library.georgetown.edu/illiad/") Illiad 
                | system - using the Article request option.
              li Your request will be processed by the access services team at main campus. You will be notified by email when your article is available for download.
              li Journal articles are usually filled within 48 hours, but this depends on the speed of response from partner libraries.

          div(class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab")
            h5 Book Chapters
            p Step 1: Use HoyaSearch for Books

            ul
              li Begin with 
                a(href="https://wrlc-gu.primo.exlibrisgroup.com/discovery/search?vid=01WRLC_GUNIV:QATAR&mode=advanced&sortby=rank") HoyaSearch 
                | to determine if the GU-Q library has the book (and chapter) you want.
            p Step 2: Access other libraries in Qatar

            ul
              li Search at 
                a(href="https://qnl.qa/en") Qatar National Library
                |, sign out under your personal account.
              li Search at 
                a(href="other-libraries.html") other libraries  
                | in Qatar, 
                a(href="mailto:guqlibrary@georgetown.edu") email 
                | information to the library to arrange delivery to GU-Q.
            p Step 3: Request a Book Chapter using Illiad

            ul
              li Place a request through the 
                a(href="http://illiad.library.georgetown.edu/illiad/") Illiad 
                | system - using the Book Chapter request option.
              li Your request will be processed by the access services team at main campus. You will be notified by email when your article is available for download.
              li Book chapters are usually filled within 48 hours, but this depends on the speed of response from partner libraries.

          div(class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab")
            h5 Books
            p Step 1: Use HoyaSearch for Books

            ul
              li Begin with 
                a(href="https://wrlc-gu.primo.exlibrisgroup.com/discovery/search?vid=01WRLC_GUNIV:QATAR&mode=advanced&sortby=rank") HoyaSearch 
                | to determine if the GU-Q library has the book you want.
            p Step 2: Access other libraries in Qatar

            ul
              li Search at 
                a(href="https://qnl.qa/en") Qatar National Library
                |, sign out under your personal account.
              li Search at 
                a(href="other-libraries.html") other libraries  
                | in Qatar, 
                a(href="mailto:guqlibrary@georgetown.edu") email 
                | information to the library to arrange delivery to GU-Q.
            p Step 3: Main Campus

            ul
              li Use 
                a(href="https://wrlc-gu.primo.exlibrisgroup.com/discovery/search?tab=LibraryCatalog&search_scope=MyInstitution&sortby=rank&vid=01WRLC_GUNIV:QATAR&mode=advanced&offset=0") HoyaSearch 
                | to find books available at Qatar and Main Campus.
              li If you find a book that is available at Main Campus but not in Qatar, sign into HoyaSearch with your netID and password and click on "Georgetown Request" in the Availability information for the book you wish to request.
              li Due to high shipping costs, all requests for Main Campus books are mediated to:
                ul
                  li check if it is available as an e-book or locally at another library
                  li determine if it is more cost effective to purchase
              li Requestors are notified when a request is cancelled indicating the alternate source (Please see the 
                a(href="request-policy-for-main-campus-library-items") Request Policy for Main Campus Library Items
                |)
              li Books typically arrive in 7-10 days and you will be notified by the library when the book is ready to pick up.
            p Step 4: Not Available in Qatar or Main Campus

            ul
              li Please contact the library or your 
                a(href="personal-librarians.html") personal librarian 
                | to discuss further options.
          
          div(class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab")
            h5 Frequently Asked Questions (FAQs) about Illiad
            ul
              li 
                strong What is Illiad? 
                |- Georgetown University Library is a member of ILLiad a community of academic and research libraries. Researchers at Georgetown University have access to the scholarly resources of other institutions through this partnership.
              li 
                strong First-time user of Illiad? 
                |- The first time you login to ILLiad, you will be asked to provide contact information. Fill out this form and you can begin requesting journal articles and book chapters.
              li 
                strong What happens after I submit an Illiad request? 
                |- Your request will be processed by the access services team at Lauinger Library in Washington, DC. Check your 
                a(href="https://illiad.library.georgetown.edu/illiad/") Illiad Account 
                | to view request status updates.
              li 
                strong How long will an Illiad request take to arrive? 
                |- If an electronic version can be located, requests are usually filled within 48 hours. If the request requires scanning by a lending library, it will take longer and is dependent on availability. You will receive an email when your request has been filled. The item will be available on your ILLiad page for 30 days and then deleted.
        

      div(class="col-md-3 col-sm-12 content-page__content")
        div(class="card content-page__content__side-content")
          div(class="card-body")
            h5 Connect to Illiad

            a(href="http://illiad.library.georgetown.edu/illiad/")
              img(src="/images/interlibrary-loans.jpg" class="img-responsive mb-3")

            p Copyright - Useful Links
            ul
              li 
                a(href="http://www.library.georgetown.edu/copyright") Copyright at Georgetown University
              li 
                a(href="http://www.wipo.int/wipolex/en/details.jsp?id=3567") Qatar Copyright Law
              li 
                a(href="https://youtu.be/NInVk7WyseI") Video - How to Use Illiad
            
            h6 Important Information
            p Generally Not Available for Interlibrary Loan
            ul
              li Unpublished Manuscripts
              li Archival Materials
              li Print Dissertations & Theses
              li Audiovisual Materials
            
            h6 For Non GU-Q Students
            p Students and staff at Education City universities and schools can request GU-Q resources through their institution's library.