extends layouts/default.pug

block content
  +page-header('Other Libraries', 'Research')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Other Libraries', navResearch)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Other Libraries

        div(class="content-page__table")
          table(class="table table-bordered table-hover third-equal")
            thead(class="bg-primary text-light")
              tr
                th(scope="col") Library Catalog
                th(scope="col") Subjects Covered
                th(scope="col") Notes (* tips on using other library catalog search)
            tbody
              tr
                td 
                  a(href="https://search.library.cmu.edu/vufind/Search/Advanced" target="_blank") Carnegie Mellon University in Qatar
                td
                  ul
                    li Biological Sciences
                    li Business Administration
                    li Computational Biology
                    li Computer Science
                    li Information Systems
                td Set library = Qatar Library
              tr
                td 
                  a(href="http://cna-qatar.libguides.com/library" target="_blank") College of the North Atlantic Qatar
                td
                  ul
                    li Business Studies
                    li Engineering
                    li Health Sciences
                    li Information Technology
                    li Security
                td
              tr
                td 
                  a(href="https://www.hbku.edu.qa/en/hbku-library" target="_blank") Hamad Bin Khalifa University
                td
                  ul 
                    li Architecture
                    li Islamic Finance
                    li Islamic Studies
                    li Public Policy
                    li Urban Design
                td Set "Limit to" = Qatar Library
              tr
                td 
                  a(href="https://search.library.northwestern.edu/primo-explore/search?vid=NULVNEW&sortby=rank" target="_blank") Northwestern University in Qatar
                td
                  ul 
                    li Communications
                    li Journalism
                    li Liberal Arts
                td Set "Limit to" = Qatar Library
              tr
                td 
                  a(href="https://www.qnl.qa/en/explore/books-articles-multimedia" target="_blank") Qatar National Library
                td
                  ul 
                    li All Subjects
                td
              tr
                td 
                  a(href="https://library.qu.edu.qa/en/#.XSHNJOgzZaQ" target="_blank") Qatar University
                td
                  ul 
                    li Architecture
                    li Arts
                    li Business
                    li Education
                    li Law
                    li Science
                    li Sharia & Islamic Studies
                td
              tr
                td 
                  a(href="https://libcat.tamu.edu/vwebv/searchBasic" target="_blank") Texas A&M University at Qatar
                td
                  ul 
                    li Engineering
                    li Sciences
                td Limit Location to "Texas A&M at Qatar"
              tr
                td 
                  a(href="https://tii.qa/library" target="_blank") Translation and Interpreting Institute (TII)
                td
                  ul 
                    li Arabic
                    li English
                    li French
                    li Spanish
                    li Translation & Interpreting
                td
              tr
                td 
                  a(href="https://www.ucl.ac.uk/qatar/ucl-qatar-library" target="_blank") University College London Qatar
                td
                  ul 
                    li Archaeology
                    li Museum Studies
                    li Conservation
                    li Information Sciences
                td
              tr
                td 
                  a(href="https://www.qatar.vcu.edu/index.php?/library/" target="_blank") VCUQatar
                td
                  ul 
                    li Design
                    li Fine Arts
                    li Liberal Arts & Sciences
                td
              tr
                td 
                  a(href="https://qatar-weill.cornell.edu/elibrary" target="_blank") Weill Cornell Medical College in Qatar
                td
                  ul 
                    li Medical Sciences
                td
                