extends layouts/default.pug

block content
  +page-header('Our Mission', 'About Us')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Our Mission', navAboutUs)
        
      div(class="col-md-9 content-page__content")
        h3 Our Mission

        h4 Director's Welcome
        +image("/images/donna-hanson.jpg", "Donna Hanson", "Donna Hanson, Director of the Library", "third")
        p I am very pleased to welcome you to the Library at Georgetown University in Qatar. Our library advances and supports the learning, teaching, and research goals of students and faculty at Georgetown.
        p Since opening its doors in 2005, the library has grown dramatically in all respects – collections, facilities, services, and usage.
        p Primarily focused on international relations, political science, history, economics, languages & literature, philosophy and theology, the library’s collections comprise over 90,000 physical items - print volumes and periodicals. We offer access to a much larger collection of e-books, e-journals, online databases, streaming media, and other electronic resources in conjunction with our main campus libraries in Washington, DC.
        p In January 2011 the library’s space and facilities quadrupled in size with the move to Georgetown’s new building in Qatar. The stunning beauty of our library and its central location within the building make it one of the most inviting places to visit and spend time while on campus. We provide flexible and varied spaces to encourage individual or collaborative reading, study, and research. Our library is equipped with the latest technologies and software to assist you in accessing information and preparing research papers and presentations.
        p Of greatest importance, however, are the people in our library and the services they provide. In addition to the Research Guides you will find on this website, our Librarians provide research skills instruction in classes and workshops as well as individualized help at the Service Desk. We provide training and assistance in the use of technologies and media production methods.
        p The Library of the University College of London is also integrated within the GU-Q library. You will find the UCL-Q books, supporting studies in Library and Information Studies and Museum & Gallery Practice on the 2nd floor of our library.
        p I encourage you to explore our website and to visit our library!

        hr

        h4 Mission, Vision & Values
        h5 Vision
        p To be recognized as the leading Library for the study of international relations in the Middle East.
        h5 Mission
        p The GU-Q Library is a dynamic organization dedicated to fulfilling the mission of Georgetown University in Qatar. By providing preeminent collections, services, and spaces, the GU-Q Library establishes the foundation for learning and research and facilitates the ongoing creation and pursuit of knowledge.
        h5 Values
        p 
          strong Integrity 
          | – honesty, fairness, and professionalism in our work with each other and with our users.
        p 
          strong Quality 
          | – performance at the highest levels, and accountability for our actions.
        p 
          strong Diversity 
          | – active acquisition of diverse collections and recruitment for a diverse workforce, with commitment to developing and maintaining a climate of openness and respect for all ideas, values, cultures, and traditions.
        p 
          strong Leadership 
          | – cultivation of leadership at all levels of the organization; understanding and appreciation of our unique role in “nation building” Qatar; endorsement of informed risk-taking; and contribution to the advancement of the profession.
        p 
          strong Collaboration 
          | – open communication, collaboration and collegiality within Georgetown University and across Qatar Foundation and the region.
        p 
          strong Lifelong Learning 
          | – continuous pursuit of knowledge, commitment to the teaching and inculcation of transferable research and learning skills, and promotion of lifelong learning for our students and alumni.
        p 
          strong Women and Men for Others 
          | – take every opportunity to cultivate a relationship with our users including students, faculty, and the community at large.