extends layouts/default.pug

block content
  +page-header('Personal Librarians', 'About Us')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Personal Librarians', navAboutUs)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Personal Librarians - Discipline Areas

        div(class="content-page__table")
          h5(class="mb-3") Librarian and Courses
          table(class="table table-bordered table-hover quarter-equal")
            thead(class="bg-primary text-light")
              tr
                th(scope="col") Personal Librarian
                th(scope="col") Course Code
                th(scope="col") Phone
                th(scope="col") Email
            tbody
              tr
                td Robert Laws 	
                td ANTH 	
                td +974 4457-8315 	
                td rdl27@georgetown.edu
              tr
                td Tatiana Usova 	
                td ARAB (Coordinator) 	
                td +974 4457-8583 	
                td tu44@georgetown.edu
              tr
                td Tatiana Usova 	
                td ARAB Literature (in English) 	
                td +974 4457-8583 	
                td tu44@georgetown.edu
              tr
                td Robert Laws 	
                td CULP 	
                td +974 4457-8315 	
                td rdl27@georgetown.edu
              tr
                td Tatiana Usova 	
                td ECON 	
                td +974 4457-8583 	
                td tu44@georgetown.edu
              tr
                td Tatiana Usova 	
                td ENGL 	
                td +974 4457-8583 	
                td tu44@georgetown.edu
              tr
                td Tatiana Usova 	
                td FREN 	
                td +974 4457-8583 	
                td tu44@georgetown.edu
              tr
                td Paschalia Terzi 	
                td GOVT 	
                td +974 4457-8329 	
                td pt491@georgetown.edu
              tr
                td Robert Laws 	
                td HIST - US & Europe 	
                td +974 4457-8315 	
                td rdl27@georgetown.edu
              tr
                td Robert Laws 	
                td HIST - World (excluding US & Europe) 	
                td +974 4457-8315 	
                td rdl27@georgetown.edu
              tr
                td Paschalia Terzi 	
                td INAF 	
                td +974 4457-8329 	
                td pt491@georgetown.edu
              tr
                td Paschalia Terzi 	
                td IPOL 	
                td +974 4457-8329 	
                td pt491@georgetown.edu
              tr
                td Paschalia Terzi 	
                td PHIL 	
                td +974 4457-8329 	
                td pt491@georgetown.edu
              tr
                td Tatiana Usova 	
                td SOCI 	
                td +974 4457-8583 	
                td tu44@georgetown.edu
              tr
                td Robert Laws 	
                td THEO 	
                td +974 4457-8315 	
                td rdl27@georgetown.edu
              tr
                td Tatiana Usova 	
                td WRIT 	
                td +974 4457-8583 	
                td tu44@georgetown.edu