extends layouts/default.pug

block content
  +page-header('Policies', 'About Us')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Policies', navAboutUs)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Policies

        h5 Circulation
        p
          a(href="fines-and-fees") Fines and Fees Policy
        
        h5 Collections
        p Library collections are designed to fully meet the information resources needs of GU-Q students, faculty and staff and to ensure the highest quality teaching and research. The Library purchases resources directly related to the curriculum and research needs.

        p Our collections include:

        ul            
          li More than 90,000 print books in Qatar plus 1.6 million ebooks and more than 3 millions books on the Main Campus.
          li More than 180,000 academic journals in electronic format and 60 print titles of academic and general interest.

        hr

        h5 Donations
        p Georgetown University in Qatar does not accept donations to the Library.
