extends layouts/default.pug

block content
  +page-header('Policies', 'About Us')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Policies', navAboutUs)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Policies

        h5 Accessibility Policy: Electronic and Information Technology
        p Georgetown University is committed to fostering an inclusive academic and work environment for all individuals, including individuals with disabilities. Providing equitable and effective access to University services and information is a key component of that commitment. As such, GU-Q Library will ensure that all web pages; electronic library and instructional materials; electronic documents; video and audio; and software, hardware and systems will be accessible in accordance with relevant laws.
        p Please see the full 
          a(href="#") Accessibility Policy
          |.

        hr

        h5 Circulation
        p Please see the 
          a(href="fines-and-fees") Fines and Fees Policy
          |.

        hr

        h5 Code of Conduct
        p Georgetown University Library in Qatar welcomes all students, faculty and staff and is dedicated to providing free and equal access to information, knowledge sharing, independent learning opportunities and the pursuit of the joy of reading. Citizens, residents and visitors to Qatar are also welcome to use library spaces and utilize library resources on site. With public service as the highest priority, the Library has established rules and regulations to govern the use of the building and its materials and services. Individuals visiting or using the Library's facilities or services must comply with the Code of Conduct linked below. 
        p Please see the full 
          a(href="code-of-conduct") Code of Conduct Policy
          |.

        hr
        
        h5 Collections
        p Library collections are designed to fully meet the information resources needs of GU-Q students, faculty and staff and to ensure the highest quality teaching and research. The Library purchases resources directly related to the curriculum and research needs.

        p Our collections include:

        ul            
          li More than 90,000 print books in Qatar plus 1.6 million ebooks and more than 3 millions books on the Main Campus.
          li More than 180,000 academic journals in electronic format and 60 print titles of academic and general interest.

        p Please see the 
          a(href="#") Collection Development Policy
          |.

        hr

        h5 Donations
        p Georgetown University in Qatar does not accept donations to the Library as this time. Please check with the Qatar National Library.
