extends layouts/default.pug

block content
  +page-header('Print Journals and Newspapers', 'Research')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Print Journals and Newspapers', navResearch)
        
      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Print Journals and Newspapers

        p The print journals and newspapers that can be found inside the library are listed below:

        div(class="content-page__table")
          h5(class="mb-3") Print Journals in the Library
          table(class="table table-bordered table-hover")
            thead(class="bg-primary text-light")
              tr
                th(scope="col") Journal Title
                th(scope="col") Frequency
            tbody
              tr
                td The Atlantic
                td Monthly
              tr
                td American Scientist
                td Bi-Monthly
              tr
                td Architectural Digest
                td Monthly
              tr
                td Banipal: magazine of modern Arab literature
                td 3 times a year
              tr
                td Bloomberg Businessweek
                td Monthly
              tr
                td Bon Appetit
                td Monthly
              tr
                td Brides
                td Bi-Monthly
              tr
                td Buddhadharma; the practicioner's quarterly
                td Quarterly
              tr
                td Canvas: Art and Culture from the Middle East and Arab World
                td Monthly	
              tr
                td Conde Nast Traveler
                td Monthly
              tr
                td Delicious
                td Monthly
              tr
                td Digital Photographer
                td Monthly
              tr
                td Discover
                td Monthly
              tr
                td Dwell
                td 6 issues per year
              tr
                td Economist
                td Weekly	
              tr
                td Elle Decor
                td Monthly	
              tr
                td Esquire
                td Monthly	
              tr
                td Foreign affairs
                td Quarterly (5)
              tr
                td Foreign policy 
                td Bimonthly
              tr
                td GQ : Gentlemen's quarterly
                td Monthly
              tr
                td Harper’s
                td Monthly
              tr
                td Harper's bazaar (US)
                td Monthly
              tr
                td Harvard business review
                td Monthly
              tr
                td Harvard international review
                td Quarterly
              tr
                td Health &amp; Fitness
                td Bi-Monthly
              tr
                td House Beautiful
                td Monthly
              tr
                td Interior Design
                td Monthly
              tr
                td InStyle
                td Monthly
              tr
                td Journal of Arabian Studies
                td Semiannual
              tr
                td Lion's Roar (formerly Shambhala sun)
                td Bi-Monthly
              tr
                td MacLife
                td Monhtly
              tr
                td Martha Stewart Living
                td Monthly
              tr
                td Men's Journal
                td Monthly
              tr
                td Middle East Policy
                td Quarterly
              tr
                td Money
                td Monthly	
              tr
                td Mother &amp; Baby
                td Monthly
              tr
                td Nation (The)
                td Bi-weekly
              tr
                td National geographic
                td Monthly
              tr
                td National geographic traveler
                td 8 times a year
              tr
                td National interest
                td Quarterly
              tr
                td New African
                td Monthly
              tr
                td New York Magazine
                td Monthly
              tr
                td New Yorker
                td Biweekly
              tr
                td Orient
                td Quarterly
              tr
                td People
                td Weekly
              tr
                td Philosophy now
                td Quarterly
              tr
                td Popular Science
                td Bi-Monthly
              tr
                td Prevention
                td Monhtly
              tr
                td Psychology today
                td Monthly
              tr
                td Religions
                td Monthly
              tr
                td Scientific American
                td Monthly				
              tr
                td Time
                td Weekly
              tr
                td Travel &amp; Leisure
                td Monthly
              tr
                td Vanity fair
                td Monthly
              tr
                td Vogue
                td Monthly
              tr
                td Wired
                td Monthly

        div(class="content-page__table")
          h5(class="mb-3") Daily Newspapers in the Library
          table(class="table table-bordered table-hover")
            thead(class="bg-primary text-light")
              tr
                th(scope="col") Newspaper Title
                th(scope="col") Frequency
            tbody
              tr
                td Al Arab
                td Daily
              tr
                td Al Rayah
                td Daily 
              tr
                td Al Sharq
                td Weekdays only
              tr
                td Al Watan
                td Daily 
              tr
                td The Financial Times
                td Daily except Sunday
              tr
                td The Gulf Times
                td Daily 
              tr
                td International New York Times
                td Daily except Sunday
              tr
                td The Peninsula
                td Daily
              tr
                td Qatar Tribune
                td Daily