extends layouts/default.pug

block content
  +page-header('Services', 'parent')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Services', navServices)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Services
        
        +image("/images/featured-services-2x.jpg", "Library Classroom Instruction", "Library Classroom Instruction", "full")

        p The library provides a variety of services including reference, instruction, circulation services, and much more.