extends layouts/default.pug

block content
  +page-header('Staff', 'About Us')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Staff', navAboutUs)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Staff

        div(class="container")
          div(class="row")
            div(class="col-md-3 col-sm-6")
              img(src="/images/donna-hanson.jpg" class="img-fluid img-thumbnail")
              h6 Donna Hanson
              p(class="mb-3") Director of the Library
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/dh389") Send Email
              p(class="mt-n3") Room: 1B16
            div(class="col-md-3 col-sm-6")
              img(src="/images/tatiana-usova.jpg" class="img-fluid img-thumbnail")
              h6 Tatiana Usova
              p(class="mb-3") Associate Director of the Library
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/tu44") Send Email
              p(class="mt-n3") Room: 1B14
            div(class="col-md-3 col-sm-6")
              img(src="/images/robert-laws.jpg" class="img-fluid img-thumbnail")
              h6 Robert Laws
              p(class="mb-3") Technology and Instruction Librarian
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/rdl27") Send Email
              p(class="mt-n3") Room: 1B13
            div(class="col-md-3 col-sm-6")
              img(src="/images/keltie-ross.jpg" class="img-fluid img-thumbnail")
              h6 Keltie Ross
              p(class="mb-3") Technical Services and Systems Librarian
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/klr93") Send Email
              p(class="mt-n3") Room: 1B17
          div(class="row")
            div(class="col-md-3 col-sm-6")
              img(src="/images/paschalia-terzi.jpg" class="img-fluid img-thumbnail")
              h6 Paschalia Terzi
              p(class="mb-3") Instruction Librarian
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/pt491") Send Email
              p(class="mt-n3") Room: 1B15
            div(class="col-md-3 col-sm-6")
              img(src="/images/mirta-lendic.jpg" class="img-fluid img-thumbnail")
              h6 Mirta Lendić
              p(class="mb-3") Library Coordinator
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/ml1681") Send Email
              p(class="mt-n3") Room: 0B23
            div(class="col-md-3 col-sm-6")
              img(src="/images/amani-al-jmaly.jpg" class="img-fluid img-thumbnail")
              h6 Amani Al-Jmaly
              p(class="mb-3") Library Support Specialist
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/aa1410") Send Email
              p(class="mt-n3") Room: 0B26
            div(class="col-md-3 col-sm-6")
              img(src="/images/nada-abu-hashim.jpg" class="img-fluid img-thumbnail")
              h6 Nada Abu Hashim
              p(class="mb-3") Library Assistant
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/na531") Send Email
              p(class="mt-n3") Room: 0B24
          div(class="row")
            div(class="col-md-3 col-sm-6")
              img(src="/images/arwa-el-kahlout.jpg" class="img-fluid img-thumbnail")
              h6 Arwa El-Kahlout
              p(class="mb-3") Library Assistant
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/ae519") Send Email
              p(class="mt-n3") Room: 0B23
            div(class="col-md-3 col-sm-6")
              img(src="/images/maria-sol-marra.jpg" class="img-fluid img-thumbnail")
              h6 Maria Sol Marra
              p(class="mb-3") Library Assistant
              p(class="mt-n3") 
                a(href="http://contact.georgetown.edu/view/mm4488") Send Email
              p(class="mt-n3") Room: 0B24

