extends layouts/default.pug

block content
  +page-header('Undergraduates', 'parent')

  div(class="container content-page")
    div(class="row")
      div(class="col-md-3 content-page__side-nav")        
        +side-nav('Undergraduates', navPopulations)

      div(class="col-md-9 col-sm-12 content-page__content")
        h4 Undergraduates

        div(class="container content-page__content__link-list")
          div(class="row")
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Circulation
              a(href="borrowing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Borrowing
              a(href="https://wrlc-gu.primo.exlibrisgroup.com/primaws/suprimaExtLogin?institution=01WRLC_GUNIV&lang=undefined&target-url=https%3A%2F%2Fwrlc-gu.primo.exlibrisgroup.com%2Fdiscovery%2Fsearch%3Fvid%3D01WRLC_GUNIV%3AQATAR&authenticationProfile=SAML&idpCode=SAML&auth=SAML&view=01WRLC_GUNIV%3AQATAR&isSilent=false")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Renewing
              a(href="interlibrary-loans")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Interlibrary Loans
              a(href="course-reserves")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Course Reserves
              a(href="equipment-and-software")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Equipment and Software
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Spaces
              a(href="http://libcal.sfsq.georgetown.edu/booking/gsr")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Reserve a Room
              a(href="study-spaces")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Study Spaces
              a(href="assistive-technology") 
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Assistive Technology
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Research
              a(href="http://guides.sfsq.georgetown.edu/az.php?a=all")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Databases
              a(href="http://guides.qatar.georgetown.edu/home")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Student Guides
              a(href="https://guides.qatar.georgetown.edu/studentresearch")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Student Research Guide
              a(href="consultations")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Consultations
            div(class="col-lg-3 col-md-6 col-xs-12")
              h5 Other Resources
              a(href="http://guides.qatar.georgetown.edu/home/writing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Writing
              a(href="http://guides.qatar.georgetown.edu/home/citing")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Citing
              a(href="http://guides.qatar.georgetown.edu/home/presenting")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Presenting
              a(href="online-learning")
                div(class="card bg-primary text-light-link mt-4")
                  div(class="card-body")
                    p Online Learning