mixin side-nav(page, items)
  div(class="list-group")
    each val, index in items
      if page == index
        a(href=val class="list-group-item list-group-item-action active")= index
      else
        a(href=val class="list-group-item list-group-item-action")= index