.content-page {
  min-height: 60vh;
  margin-bottom: 0.5rem;

  &__side-nav {
    margin-top: -1.6rem;
    border-right: 1px solid lighten($secondary, 50%);
    min-height: 60vh;
    margin-bottom: 1rem;

    @include media-respond-down(md) {
      min-height: 0;
      border-right: none;
    }
  
    .list-group {
      margin-top: 1.6rem;

      a {
        &:hover,
        &:active {
          color: $secondary-light-blue;
        }
      }
  
      .list-group-item-action {
        border-radius: 0;
        background-color: lighten($secondary-gray, 15%);
  
        &.active {
          background-color: $primary;

          &:hover,
          &:active {
            color: $color-white;
          }

          &:hover {
            background-color: $primary;
          }
        }
        
        &:hover {
          background-color: lighten($secondary-cool-gray, 18%);
        }
      }
    }
  }

  &__table {
    border-top: 1px solid lighten($secondary, 50%);
    margin: 1.5rem 0 2rem;

    th:first-child {
      width: 65%;
    }

    th:last-child {
      width: 35%;
    }

    table.quarter-equal {
      th {
        width: 25%;
      }
    }

    table.third-equal {
      th {
        width: 33.33%;
      }
    }
  }

  &__hours {
    border-top: 1px solid lighten($secondary, 50%);
    margin-top: 1.5rem;

    i {
      margin-right: 0.3rem;
    }
  }

  &__content {
    padding-bottom: 0.5rem;

    i {
      margin-right: 0.3rem;
    }

    p, li {
      font-weight: normal;
      font-size: 1.05rem;
      line-height: 1.5;
    }

    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: $secondary-light-blue;
      }
      
      &:hover,
      &:active {
        color: $secondary-dark-blue;
      }
    }

    h3 {
      margin-bottom: 1.8rem;
    }

    h4 {
      margin-bottom: 1rem;
    }

    h5 {
      margin: 1.5rem 0 0.5rem;
    }

    h6 {
      color: $secondary-dark-blue;
      font-size: 1.1rem;
      margin: 0.5rem 0;
    }

    .third {
      float: right;
      width: 33%;
      margin: 0 0 1rem 1rem;
    }

    .half {
      float: right;
      width: 50%;
      margin: 0 0 1rem 1rem;
    }

    .full {
      width: 100%;
      margin: 1rem 0;
    }

    .card {
      .card-text {
        &::before {
          // content: "- "
        }
      }
    }

    &__link-list {
      .card {
        p {
          margin-bottom: 0;
        }

        &:hover {
          background-color: $secondary-light-blue !important;
        }
      }

      a {
        &:link,
        &:visited {
          color: $color-white;
        }

        &:hover,
        &:active {
          color: $color-white;
        }
      }
    }

    &__side-content {
      margin-top: 4rem;

      img {
        width: 100%;

        @include media-respond-down(md) {
          width: 50%;
        }
      }

      h5 {
        margin-top: 0;
      }

      p, li, h6 {
        font-size: 0.9rem;
      }
    }
  }
}