.alt-font {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: $tertiary-green;
}

// spacing for content area
main {
  margin-top: 1em;
}

// side navigation -> on all subpages
.list-group {
  .list-group-item-action {
    &.active {
      &:hover {
        background-color: $primary;
      }
    }
    
    &:hover {
      background-color: lighten($secondary-gray, 15%);
    }
  }
}