.home-page {
  margin: 2rem 0 1rem;

  &__search {
    padding: 10px 1rem;
    min-height: 335px;
    background-image: url('/images/home-search-80-bg-2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-bottom: 1rem;

    @include media-respond-down(lg) {
      min-height: 404px;
    }

    @include media-respond-down(md) {
      margin-bottom: 2rem;
      min-height: auto;
    }

    .lib-search {
      margin-top: 1rem;

      @include media-respond-down(md) {
        margin-top: 0;
      }
    }

    .hoyasearch-help {
      margin-top: 1rem;
    }

    .tab-content {
      border-bottom: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
      border-left: 1px solid #dee2e6;
      box-shadow: 7px 7px 15px -4px rgba(0,0,0,0.5), -7px 7px 15px -4px rgba(0,0,0,0.25);
    
      .tab-pane {
        background-color: $color-white;
        padding: 1rem 0;

        @include media-respond-down(sm) {
          border-top: 1px solid darken($secondary-cool-gray, 20%);
        }

        form {
          width: 100%;
        }

        .whatSearching {
          display: block;
          padding: 1rem 0.25rem;
          margin-bottom: -1rem;
        }

        .tips-az-list {
          padding: 0 0 0 1.5rem;
          font-size: 0.9rem;

          @include media-respond-down(md) {
            padding: 0.5rem 1rem 0;
          }

          a {
            text-decoration: none;
            font-weight: 500;
            color: $secondary-dark-blue;
          }
        }

        .tips {
          padding: 1.5rem 1rem 0;
          font-size: 0.9rem;

          span {
            width: 300px;
          }

          a {
            text-decoration: none;
            font-weight: 500;
            color: $secondary-dark-blue;
          }
        }
      }
    }

    .nav-item {
      @include media-respond-down(sm) {
        width: 100%;
        border-top: 1px solid darken($secondary-cool-gray, 20%);
      }

      a {
        @include media-respond-down(sm) {
          border-radius: 0px;
        }
      }
    }
    
    .nav-tabs {
      .nav-link {
        background-color: $secondary-dark-blue;
        margin-right: 0.3rem;
        color: $color-white;

        @include media-respond-down(lg) {
          padding: 0.42rem;
        }

        @include media-respond-down(sm) {
          padding: 0.5rem 1rem;
          font-weight: 600;
        }

        @include media-respond-down(sm) {
          margin-right: 0;
        }
    
        &.active {
          color: $primary;
        }
      }
    }
    
    .list-group-item-action {
      &.active {
        &:hover {
          background-color: #007bff;
        }
      }
      
      &:hover {
        background-color: rgb(222, 239, 245);
      }
    }
  }

  &__quick-links {
    background-color: $secondary-dark-blue;
    border: 4px solid $secondary;

    section a {
      text-decoration: none;
    }

    section a > .alert {
      padding: 0.48rem 1rem;
      font-size: 0.9rem;
      font-weight: 600;
      border-radius: 0;
      margin: 1rem;
      color: $color-black !important;

      @include media-respond-down(sm) {
        padding: 0.8rem 1rem;
        font-size: 1rem;
      }

      &:hover {
        background-color: lighten($light-blue, 20%);
        color: $color-black !important;
      }

      i {
        margin-right: 0.3rem;
      }

      .lib-hours {
        margin-left: 0.3rem;
      }
    }

    margin-bottom: 1rem;

    @include media-respond-down(md) {
      margin-bottom: 2rem;
    }
  }

  &__square {
    a {
      header {
        background-color: $primary;
        color: $color-white;
        text-align: center;
        padding: 0.5rem 0;
        margin: 0.5rem 0;
        transition: background-color 30ms ease-in;
      }

      &:link {
        text-decoration: none;
      }

      &:hover > header {
        background-color: $secondary-light-blue;
      }

      &:hover > section > img {
        filter: opacity(0.85);
      }
    }

    section {
      margin-bottom: 1rem;

      @include media-respond-down(md) {
        margin-bottom: 2rem;
      }
    }
  }
}