doctype html
html
  head
    title Bootstrap 4 - Learning
    include ../includes/head.pug
  body
    include ../includes/header.pug

    main
      block content

    include ../includes/footer.pug