doctype html
html
  head
    title Library Website - Redevelopment
    include ../includes/head.pug
  body
    include ../includes/css.pug
    include ../includes/header.pug
    include ../includes/navigation.pug

    main
      // site data
      include ../data/side-nav-links.pug

      // mixins
      include ../mixins/side-nav.pug
      include ../mixins/page-header.pug
      include ../mixins/image.pug

      block content

    include ../includes/footer.pug
    include ../includes/scripts.pug