doctype html
html
  head
    title Bootstrap 4 - Learning
    include ../includes/head.pug
  body
    include ../includes/header.pug

    main
      include ../data/side-nav-links.pug
      include ../mixins/side-nav.pug
      block content

    include ../includes/footer.pug